<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANJ-rBmWBW2hb0sPusQ3_qp60CBQ7XHiU</string>
	<key>GCM_SENDER_ID</key>
	<string>919514021411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tucoye.remoteBanner</string>
	<key>PROJECT_ID</key>
	<string>remote-banner</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-banner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919514021411:ios:f2e898113ef92ed8c77b96</string>
</dict>
</plist>